#source-box {
    border: 2px dashed gray;
    padding: 10px;
    margin-bottom: 20px;
}

.target-box {
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    position: relative;
}

img.draggable {
    width: 80px;
    height: 80px;
    cursor: move;
}

.lemon-box{
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    position: relative;
}